Source: hello
Section: utils
Priority: optional
Maintainer: Alvin Cura <alvinc@sysdudez.com>
Build-Depends: debhelper-compat (= 12), cargo
Standards-Version: 4.6.2
Homepage: https://github.com/alvinc-git/hello
Vcs-Git: https://github.com/alvinc-git/hello.git

Package: hello
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The standard Hello program
 A standard Hello World program. Includes both C and
 Rust implementations (hello and hello-rust).
