Source: hello
Section: utils
Priority: optional
Maintainer: Alvin Cura <alvinc@sysdudez.com>
Build-Depends: debhelper-compat (= 12), cargo, golang-go | golang
Standards-Version: 4.6.2
Homepage: https://github.com/alvinc-git/hello
Vcs-Git: https://github.com/alvinc-git/hello.git

Package: hello
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: standard Hello program
 A standard Hello World program. Includes C, Rust,
 and Go implementations (hello, hello-rust, and hello_go).
